{extend name="main/index" /}
{block name="main"}

<!-- Right Sidebar End -->
<!-- Start right content -->
<div class="content-page">
    <!-- ============================================================== -->
    <!-- Start Content here -->
    <!-- ============================================================== -->
    <div class="content">
        <!-- Page Heading End-->				<!-- Your awesome content goes here -->
        <div class="row">
            <div class="col-md-12">
                <div class="widget">
                    <div class="widget-header transparent">
                        <h2><strong>角色管理</strong> {$title}</h2>
                        <div class="additional-btn">
                            <a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
                            <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                            <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
                        </div>
                    </div>
                    <div class="widget-content">

                        <div class="table-responsive">
                            <table data-sortable class="table table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <!--<th style="width: 30px" data-sortable="false"><input type="checkbox" class="rows-check"></th>-->
                                    <th>角色名</th>
                                    <th>说明</th>
                                    <th>状态</th>
                                    <th>拥有权限</th>
                                    <!--<th data-sortable="false">Sort : Off</th>-->
                                    <!--<th>Status</th>-->
                                    <th data-sortable="false">操作</th>
                                </tr>
                                </thead>

                                <tbody>
                                {volist name="role" id="vo"}
                                <tr>
                                    <td>{$vo.id}</td>
                                    <!--<td><input type="checkbox" class="rows-check"></td>-->
                                    <td><strong>{$vo.name}</strong></td>
                                    <td>{$vo.remark}</td>
                                    <td>
                                    {if $vo.status==1}启用
                                        {else $vo.status==2}禁用
                                    {/if}</td>
                                    <td>

                                        {foreach $vo.role as $v}
                                        {$v}
                                        {/foreach}
                                    </td>


                                    <!--<td><a href="mailto:#">name@domain.com</a></td>-->
                                    <!--<td>123</td>-->
                                    <td><button class="btn btn-danger del-btn" data-id="{$vo.id}">删除</button><a href="{:url('admin/role/edit', ['id'=>$vo['id']])}" class="btn btn-primary">修改</a><button class="btn btn-success"
                                    >分配权限</button></td>
                                </tr>
                                {/volist}

                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>

        </div>

        <!-- Footer Start -->
        <footer>
            Huban Creative &copy; 2014
            <div class="footer-links pull-right">
                <a href="#">About</a><a href="#">Support</a><a href="#">Terms of Service</a><a href="#">Legal</a><a href="#">Help</a><a href="#">Contact Us</a>
            </div>
        </footer>
        <!-- Footer End -->
    </div>
    <!-- ============================================================== -->
    <!-- End content here -->
    <!-- ============================================================== -->

</div>
{js href="/static/admin/assets/js/jquery.min.js"}
<script>
    $(function(){
        $('.del-btn').click(function(){
            var  ac_id = $(this).attr('data-id');
//            console.log(ac_id);
            if (confirm('你确定删除吗')){
                var obj = $(this).parents('tr');
//                console.log(obj);
                delAjax(ac_id,obj);
            }
        });
        function  delAjax(id,obj) {
            $.ajax({
                type:'delete',
                url:'/role/'+id,
                dataType:'json',
                success:function(data){
//                    console.log(data);
                    if (data.status){
                        obj.remove();
                    }else{
                        alert('数据传输错误');
                    }
                },
                error:function(){
                    alert('执行失败');
                }
            });
        }
    });
</script>


{/block}