{extend name="main/index" /}
{block name="main"}

<!-- Right Sidebar End -->
<!-- Start right content -->
<div class="content-page">
    <!-- ============================================================== -->
    <!-- Start Content here -->
    <!-- ============================================================== -->
    <div class="content">
        <!-- Page Heading End-->				<!-- Your awesome content goes here -->
        <div class="row">
            <div class="col-md-12">
                <div class="widget">
                    <div class="widget-header transparent">
                        <h2><strong>用户管理</strong> {$title}</h2>
                        <div class="additional-btn">
                            <a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
                            <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                            <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
                        </div>
                    </div>
                    <div class="widget-content">

                        <div class="table-responsive">
                            <table data-sortable class="table table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <!--<th style="width: 30px" data-sortable="false"><input type="checkbox" class="rows-check"></th>-->
                                    <th>用户名</th>
                                    <th>真实姓名</th>
                                    <th>所属角色</th>
                                    <!--<th>操作</th>-->
                                    <!--<th data-sortable="false">Sort : Off</th>-->
                                    <!--<th>Status</th>-->
                                    <th data-sortable="false">操作</th>
                                </tr>
                                </thead>

                                <tbody>
                                {volist name="user" id="vo"}
                                <tr>
                                    <td>{$vo.id}</td>
                                    <!--<td><input type="checkbox" class="rows-check"></td>-->
                                    <td><strong>{$vo.username}</strong></td>
                                    <td>{$vo.name}</td>
                                    <td>

                                       {foreach $vo.role as $v}
                                        {$v}
                                        {/foreach}
                                    </td>
                                    <!--<td><a href="mailto:#">name@domain.com</a></td>-->
                                    <!--<td>123</td>-->
                                    <td><button class="btn btn-danger del-btn" data-id="{$vo.id}">删除</button>
                                        <a href="{:url('admin/user/edit',['id' =>$vo['id']])}" class="btn btn-primary">修改</a><a href="{:url('admin/user/read',['id' =>$vo['id']])}" class="btn btn-primary">分配权限</button></td>
                                </tr>
                                {/volist}

                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>

        </div>

        <!-- Footer Start -->
        <footer>
            Huban Creative &copy; 2014
            <div class="footer-links pull-right">
                <a href="#">About</a><a href="#">Support</a><a href="#">Terms of Service</a><a href="#">Legal</a><a href="#">Help</a><a href="#">Contact Us</a>
            </div>
        </footer>
        <!-- Footer End -->
    </div>
    <!-- ============================================================== -->
    <!-- End content here -->
    <!-- ============================================================== -->

</div>
{js href="/static/admin/assets/js/jquery.min.js"}

<script src="/static/index/js/toastr.min.js"></script>
<script src="/static/index/js/bootstrap.min.js"></script>

<script>
    $(function(){
        $('.del-btn').click(function(){
            var ac_id = $(this).attr('data-id');
//            console.log(ac_id);
            if (confirm('你确定要删除吗')){
                var obj = $(this).parents('tr');
                delAjax(ac_id,obj);
            }
        });
        function delAjax(id,obj){
            $.ajax({
                type:'delete',
                url:'/user/'+id,
                dataType:'json',
                success:function(data){
                    console.log(data);
                    if(data.status){
                        toastr.success(data.info);
                        obj.remove();
                    }else {
                        toastr.error(data.info, '警告 :');

                    }
                },
                error:function(){
                    alert('删除失败');
                }
            });
        }
    });

    // 设置弹框参数
    toastr.options = {
        closeButton: true,// 是否显示关闭按钮
        progressBar: true,// 实现显示计时条
        timeOut: "3000",// 自动关闭时间
        positionClass: "toast-top-right"// 提示位置
        // positionClass: "toast-top-full-width"// 提示位置
//         toast-top-full-width 顶端，宽度铺满整个屏幕
        // toast-top-right  顶端右边
    };
</script>

{/block}